.pagination {
	display: flex;
	gap: 1.3125rem;

	justify-content: flex-end;
	align-items: center;
}

.pagination button {
	background-color: transparent;
	border: none;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 1.875rem;
	height: 1.875rem;
	border-radius: 0.25rem;

	font-size: 1.125rem;
	line-height: 1.5rem;
}

.page-numbers {
	display: flex;
	gap: 0.625rem;
}

.page-numbers button:hover {
	background-color: var(--color-secondary);
	color: var(--background-color-lighter);
}

.page-numbers .active {
	background-color: var(--color-secondary);
	color: var(--background-color-lighter);
	font-weight: 600;
}

@media (max-width: 30rem) {
	.pagination {
		justify-content: center;
	}
}
