.text-button {
	padding: 1rem;
	background-color: var(--color-secondary);
	color: var(--background-color-lighter);
	font-size: 1.5rem;
	border-radius: 0.25rem;
}

.text-button:hover {
	background-color: var(--color-ternary);
}

@media (max-width: 40rem) {
	.text-button {
		font-size: 1.2rem;
	}
}
