.bookmark {
	--size: 3.6875rem;

	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--size);
	height: var(--size);
	border: 0.0625rem solid transparent;
	background: var(--background-color-light);
	border-radius: 2.1875rem;
	transition: border-color var(--transition);
}

.bookmark:hover {
	border: 0.0625rem solid var(--color-primary);
}

.bookmark svg {
	--size: 1.5625rem;

	width: var(--size);
	height: var(--size);
}

.floaty {
	--distance: 1rem;

	position: absolute;
	top: var(--distance);
	right: var(--distance);
}

.favorite {
	background-color: var(--background-color-light);
}

.favorite svg {
	fill: var(--color-secondary);
}
