.bookmark {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.6875rem;
	height: 3.6875rem;
	border: 0.0625rem solid transparent;
	background: #f9f9f9;
	border-radius: 2.1875rem;
	transition: border-color 0.3s ease-in-out;
}

.bookmark:hover {
	border: 0.0625rem solid var(--font-color-primary);
}

.bookmark svg {
	width: 1.5625rem;
	height: 1.5625rem;
}

.floaty {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.favorite {
	background-color: rgba(251, 215, 178, 0.3);
}

.favorite svg {
	fill: var(--font-color-secondary);
}
