.floaty {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 86%;
	height: 8.25rem;
}

.floaty.info-block {
	background-color: white;
	border: 1px solid #f0f1f1;
	padding: 1.0625rem 1.5rem;
}

.info-block {
	display: grid;
	grid-template-columns: calc(100% - 3.6875rem - 1rem) 3.6875rem;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.title,
.artist,
.domainType {
	line-height: 1.6448125rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fixed .title,
.fixed .artist,
.fixed .domainType {
	font-family: Inter;
}

.artist,
.domainType {
	font-size: 0.9594625rem;
	letter-spacing: -0.009625rem;
}

.title {
	color: var(--font-color-primary);
	font-weight: 500;
	font-size: 1.096525rem;
	letter-spacing: -0.032875rem;
}

.floaty .title {
	margin-bottom: 0.3125rem;
}

.fixed .title {
	margin-top: 0.1875rem;
	margin-bottom: 0.125rem;
}

.artist {
	color: var(--font-color-ternary);
	font-weight: 400;
	margin-bottom: 0.625rem;
}

.domain-type {
	color: var(--font-color-primary);
	font-weight: 700;
}

@media (max-width: 30rem) {
	.floaty {
		width: 80%;
	}
}
