.normal {
	position: relative;
	padding-bottom: 0.625rem;
	justify-self: center;
}

.normal,
.small {
	outline: var(--outline-width) solid transparent;
	transition: outline var(--transition);
	cursor: pointer;
}

.normal:hover,
.small:hover {
	outline: var(--outline-width) solid var(--color-primary);
}

.normal img {
	width: 100%;
	height: 27.75rem;
	object-fit: cover;
}

.small {
	display: grid;
	gap: 1rem;
	grid-template-columns: auto 1fr;
	align-items: center;
	padding: 1.0625rem 0.75rem;
	border: 0.0625rem solid var(--background-color-dark);
	background: var(--Gray-White, var(--background-color-lighter));
}

.small img {
	--size: 5rem;

	width: var(--size);
	height: var(--size);
}
