.nav {
	display: flex;
	gap: 1.8125rem;
}

.home svg {
	--size: 1.5rem;

	width: var(--size);
	height: var(--size);
}

.link {
	font-size: 1rem;
	color: var(--background-color-lighter);
	display: flex;
	gap: 5px;
	align-items: center;
	font-family: var(--font-secondary);
	line-height: normal;
	transition: color var(--transition);
}

.link:hover {
	color: var(--color-ternary);
}

.favorites svg path {
	stroke: var(--color-ternary);
}
