.header {
	background: var(--linear-gradient);
}

.header button svg {
	color: var(--background-color-lighter);
}

.overlay {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	position: fixed;
	z-index: 1;
	background-color: var(--background-color-darker);
	opacity: 0.9;
}

.overlay > *:first-child {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.overlay button {
	--distance: 5%;

	position: absolute;
	top: var(--distance);
	right: var(--distance);
	font-size: 1.875rem;
	color: var(--background-color-lighter);
	cursor: pointer;
}
