.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	height: var(--card-height);
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--card-height);
}

.sorting {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	font-size: 1.2rem;
}

.sorting svg {
	background-color: transparent;
}

@media (max-width: 60rem) {
	.cards {
		grid-template-columns: repeat(2, auto);
	}
}

@media (max-width: 40rem) {
	.cards {
		grid-template-columns: repeat(1, auto);
		gap: 1rem;
	}
}
