.search {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	color: var(--color-primary);
}

.word-emphasis {
	color: var(--color-secondary);
}

.search-form {
	min-height: 4rem;
	display: flex;
	border-radius: 1rem;
	background: var(--background-color-dark);
	margin-top: 4.5rem;
	max-width: 47.625rem;
	width: 100%;
}

.search > p {
	margin-top: 0.3rem;
}

.form-input {
	flex-grow: 1;
	border-radius: 1rem 0 0 1rem;
	padding: 1rem;
	border: none;
	background-color: transparent;
	width: 100%;
}

.form-input::placeholder {
	color: var(--color-primary);
	opacity: 0.5;
	font-family: var(--font-secondary);
	font-size: 0.875rem;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
}

.form-button {
	padding-inline: 1rem;
	border-radius: 0 1rem 1rem 0;
	align-items: center;
}

.form-button svg {
	width: 2rem;
	height: 2rem;
}

.form-button:hover {
	background-color: var(--color-secondary);
	color: var(--background-color-lighter);
}

@media (max-width: 30rem) {
	.search-form {
		margin-top: 2rem;
	}
}
