@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--font-color-primary: #393939;
	--font-color-secondary: #f17900;
	--font-color-ternary: #e0a449;
	--background-color-primary: #fafafa;

	--section-gap: 7.5rem;
}

* {
	box-sizing: border-box;
	font-family: 'Lexend Deca', sans-serif;
	font-style: normal;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

body {
	margin: 0;
	background-color: var(--background-color-primary);
}

a {
	text-decoration: none;
}

p,
h1,
h2,
h3 {
	margin: 0;
}

button {
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	border: none;
	background-color: transparent;
	display: flex;
}

.no-scroll {
	overflow: hidden;
}

.hidden {
	visibility: hidden;
}

@media (max-width: 960px) {
	:root {
		--section-gap: 5.625rem;
	}
}

@media (max-width: 640px) {
	:root {
		--section-gap: 3.75rem;
	}
}

@media (max-width: 480px) {
	:root {
		--section-gap: 1.875rem;
	}
}
